@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
body{
    background-image: url(https://storage.needpix.com/rsynced_images/lilac-haze-background.jpg) ;
    background-size: cover;
}
p {
    font-size: 33px;
    }
    h1{
        text-align: center;
    }
    img {
         display: block;
        margin-left: auto;
        margin-right: auto;
    }
[class^="column"]{
        column-count: 2;
}
     
.column{
column-count: 2;
}

.text-border{
    border: 1px  ;
    height: 150px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: auto;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 10px 10px 10px black;
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: cyan;
}

.dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
  button{
      font-size: 25px;
  }
